@import url('https://fonts.googleapis.com/css?family=Catamaran');
@import url('https://fonts.googleapis.com/css?family=Staatliches');

body {
	margin: 0;
	padding: 0;
	font-family: 'Staatliches', sans-serif !important;
	max-width: 500px;
}

.container {
	border: 5px solid white;
	background-color: #E9DCCD;
}

.row .col-sm {
	padding-bottom: 20px;
}

.btn-lg {
	width: 80px;
	border-radius: 100px !important;
	border: 2px solid #d3d3d3 !important;
}

.settings p {
	padding-top: 5px;
	font-size: 25px;
	color: grey;
}

.settings {
	height: 20px;
}
